.Button {
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */
    margin: auto;
    color:rgb(178, 248, 250);
    background-color: rgb(170, 2, 81);
    font-family: rubik, sans-serif;
    text-align: center;
    border-radius: 25px;
    border: 3px solid rgb(170, 2, 81);
    padding: 0.5em; 
    text-decoration: none;
    cursor: pointer;
    width: 350px;
}

.Pad {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.Donate {
    font-size: 1.7em;
    display: inline-flex;
    height: 50px;
}

.Button .Project {
    display: block;
    
}

.Project .Title{
    font-size: 1.7em;
}

.Project .Subtitle{
    font-size: 1.0em;
}

/* .link {
    display: flex;
    align-items: center;  
    justify-content: center;
    text-decoration: none;
} */