.labs_wordmark {
    display: block;
    margin: 0 auto;
    max-height: 150px;
    max-width: 100%;
    padding-bottom: 20px;
    /* background-color: rgb(15, 75, 141); */
    
}

.header_stripe {
    background-color: rgb(141, 15, 120);
    background-size: 100%;
}

.stressmap {
    display: block;
    margin: 0 auto;
    min-height: 100px;
    max-width: 100%;
}