.lts-viz-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create 4 columns */
    gap: 5px;                              /* spacing between LTS icons */
    max-width: 800px;                      /* match the width of the paragraphs (defined in App.css) */
    margin: 0 auto;                        /* center the flex box */
}

.lts-viz-item {
    display: flex;
    flex-direction: column;  /* Stack the icon above the text */
    align-items: center;     /* Center the content horizontally */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.lts-viz-container img {
    width: 100%;  /* Optional: you can control the size of the images */
    max-width: 300px; /* Max width of the images, adjust as needed */
}
  
.dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
/* Style for the dialog content */
.dialog-content {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    position: relative;
    max-width: 100%;
    width: 640px;
    padding: 15px;
}
/* Style for the close icon */
.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 0;
}

.popup-image {
    width: 100%;
    height: auto;
}
