#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

.topbar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.advanced-button {
  position: absolute;
  top: 10px;
  z-index: 1;
  right: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  z-index: 1;
  right: 10px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* .sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
} */
/* 'absolute lg:static top-0 p-4 w-full lg:w-96 shadow-xl z-10 overflow-scroll lg:z-30 h-full lg:h-auto bg-white' */

.sidebar {
  position: fixed;
  top: 50px;
  right: 10px;
  bottom: 30px;
  width: 280px;
  /* height: 90%; */
  background-color: #ebcdcdc4;
  border-left: 1px solid #353535;
  padding: 10px;
}

.sidebar .basicMode {
  display: none;
}
.sidebar .advancedMode {
  display: block;
}

.legend {
  background-color: rgba(255, 255, 255, 0.9);
  color: #b106f5;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  bottom: 20px;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  /* display: grid; */
}

.grid-container{
  display: grid;
  align-items: center;
  justify-content: center;
}

.legend-header-default {
  grid-column: 1;
  grid-row: 1 / span 4;
}

.legend-header-hover {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.legend-icon {
  grid-column: 2;
}

.legend-text {
  grid-column: 3;
}

.legend .default-image,
.legend:hover .hover-image{
  display: block;
  /* float: left; */
}

.legend .hover-image,
.legend:hover .default-image{
  display: none;
  /* float: left; */
}

.rotate-image{
  transform: rotate(-90deg);
}